@import url(./fonts.css);
body{
    margin: 0;
    padding: 0;
}
:root{
    --color_main_1:#1b7fd0;
    --color_main_2:#013056;
    --color_h1:#1b7fd0;
    --color_h2:#1b7fd0;
    --color_h3_black:#000;
    --color_h3_blue:#1b7fd0;
    --color_h3:#000;
    --color_h4:#1b7fd0;
    --color_p_text:#000;

    --color_btn_read_more:#075da2;
    --color_btn_read_more_hover:#caddea;
    
    --color_btn_send_messege:#1b7fd0;
    --color_btn_send_messege_hover:#caddea;
    
    --color_btn_order_now:#dd0000;
    --color_btn_oder_now_hover:#a40000;
    
}
.read_more{
    font-size: 16px;
    font-family: Roboto_Regular;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.order_now{
    font-size: 26px;
    font-family: Roboto_Regular;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
h1{
    font-family: Roboto_Bold;
    font-size: 32px;
    color: var(--color_h1);
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    width: 100%;
    font-family: Roboto_Bold;
    font-size: 28px;
    color: var(--color_h2);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
}
h3{
    font-family: Roboto_Medium;
    font-size: 22px;
    color: var(--color_h3);
    text-transform: uppercase;
    font-weight: 100;
    margin: 0px;
}
h4{
    font-family: Roboto_Medium;
    font-size: 18px;
    color: var(--color_h4);
    text-transform: uppercase;
}
.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: var(--color_p_text);
}

/* Header */

header .bg_main_1{
    box-shadow: 2px 3.464px 7px 0px rgba(155, 182, 190, 0.75);
}
header .bg_main_2{
    background-color: var(--color_main_2);
    background-image: url(../images/Svg/Bg1.svg);
    background-size: 100%;
    background-repeat: repeat;
}
span, a{
    font-size: 20px;
    color: #3f6584;
    font-weight: 250;
    font-family: Roboto_Medium;
}
a{
    text-decoration: none;
    color: #caddea;
}
.head_1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.head_2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.head_2 a:hover{
    color: var(--color_main_1)
}
.head_2 a{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
header .bg_main_1{
    background-color: var(--color_main_1);
}
.head_3 a{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.head_3 a:hover{
    color: var(--color_btn_send_messege);
    background-color: var(--color_btn_read_more_hover);
}
header .bg_main_3 .col-12{
    padding-bottom: 30px;
}
header .bg_main_3{
    background-image: url(../images/Bestwritinghelp_Index_Desktop_1170.png);
    background-size: auto 630px;
    background-repeat: no-repeat;
    background-position: center;
    
}
.smh{
    display: flex;
    align-items: center;
    background-color: var(--color_btn_send_messege_hover);
    filter: drop-shadow(2px 3px 3px  rgb(155, 182, 190));
    height: 70px;
    padding-left:50px;
}
header .bg_main_3 ul{
    padding: 10px;
    margin: 0px;
}
header .bg_main_3 li{
    padding: 5px;
    display: flex;
    align-items: center;
}
header .bg_main_3 h3{
    padding-left:50px ;
}
.ellipse{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--color_btn_send_messege);
    margin-right:20px;
}
.sm_2{
    border: 2px solid var(--color_btn_send_messege);
    padding: 7px;
    text-align: center;
    color: var(--color_btn_send_messege);
    -webkit-transition: all 0.5s;
}
.pad{
    padding: 7px;

}
.pad .sm_2:hover{
    transition: all 0.5s;
    background-color: var(--color_btn_send_messege_hover);
}
.login::after{
content:'';
display: inline-block;
background-image: url(../images/Svg/Login.svg);
background-repeat: no-repeat;
width: 55px;
height: 28px;
}
.live_chat::after{
content:'';
display: inline-block;
background-image: url(../images/Svg/Chat.svg);
background-repeat: no-repeat;
width: 55px;
height: 28px;
}
.login:hover::after{
    background-image: url(../images/Svg/Login2.svg);
}
.live_chat:hover::after{
    background-image: url(../images/Svg/Chat2.svg);
}
.border_li::after{
    content: '';
    height: 10px;
    width: 1px;
    border-right: 2px solid white;
    border-radius: 3px;
    position: absolute;
    display: flex;
    align-items: center;
    left: px;
}
.smh::after{
    content: '';
    width: 0;
    height: 0;
    border-top:40px solid var(--color_btn_send_messege_hover);
    border-right:40px solid transparent;
    position: relative;
    top: 45px;
    right: 487px;
}

/* Main */

.smh_2{
    width: 1320px;
    justify-content: center;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    background-color: var(--color_btn_send_messege_hover);
    filter: drop-shadow(2px 3px 3px  rgb(93, 93, 93));
    height: 50px;
}
.smh_2::after{
    content: '';
    width: 0;
    height: 0;
    border-top:40px solid var(--color_btn_send_messege_hover);
    border-right:40px solid transparent;
    position: relative;
    top: 25px;
    right: 1280px;
}
.smh_3{
    display: flex;
    align-items: center;
    background-color: var(--color_btn_send_messege_hover);
    filter: drop-shadow(2px 3px 3px  rgb(93, 93, 93));
    height: 50px;
    padding-left:50px;
    background-image: url(../images/Svg/Arrow.svg);
    background-repeat: no-repeat;
    background-position-x:850px ;
}
.smh_3::after{
    content: '';
    width: 0;
    height: 0;
    border-top:40px solid var(--color_btn_send_messege_hover);
    border-right:40px solid transparent;
    position: relative;
    top: 25px;
    right: 1319px;
}
h2 img{
    height: 50px;
}
main .bg_main_4{
    background-color: #f4f6fa;
    padding: 30px 30px 50px 30px;
    background-image: url(../images/Svg/Bg3.svg);
    background-repeat: no-repeat;
}
.cards .col-12{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    -webkit-transition: all 0.3s;
    padding: 30px 10px;
}
.cards:hover{
    transition: all 0.3s;
    background-color: white;
    filter: drop-shadow(2px 3px 7px  rgb(155, 182, 190));
}

.cards::after{
    content: '';
    -webkit-transition: all 0.3s;
    width: 0;
    height: 0;
    border-top:40px solid white;
    border-right:40px solid transparent;
    position: absolute;
    top: 657px;
    right: 296px;
    opacity: 0;
}
.cards:hover::after{
    content: '';
    transition: all 0.3s;
    opacity: 100;
}
.img-1{
    height: 150px;
    width: 100%;
}
.img-1::after{
    -webkit-transition: all 0.3s;
    content: '';
    background-image: url(../images/Svg/Element1.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}
.cards:hover .img-1::after{
    content: '';
    transition: all 0.3s;
    background-image: url(../images/Svg/Element1_dark.svg);
}
.img-2{
    height: 150px;
    width: 100%;
}
.img-2::after{
    -webkit-transition: all 0.3s;
    content: '';
    background-image: url(../images/Svg/Element2.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}
.cards:hover .img-2::after{
    content: '';
    transition: all 0.3s;
    background-image: url(../images/Svg/Element2_dark.svg);
}
.img-3{
    height: 150px;
    width: 100%;
}
.img-3::after{
    -webkit-transition: all 0.3s;
    content: '';
    background-image: url(../images/Svg/Element3.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}
.cards:hover .img-3::after{
    content: '';
    transition: all 0.3s;
    background-image: url(../images/Svg/Element3_dark.svg);
}
.img-4{
    height: 150px;
    width: 100%;
}
.img-4::after{
    -webkit-transition: all 0.3s;
    content: '';
    background-image: url(../images/Svg/Element4.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}
.cards:hover .img-4::after{
    content: '';
    transition: all 0.3s;
    background-image: url(../images/Svg/Element4_dark.svg);
}
.button_read_more{
    -webkit-transition: all 0.3s;
    background-color: var(--color_btn_read_more);
    padding: 5px;
    width: 100px;
}
.button_read_more:hover{
    background-color: var(--color_btn_read_more_hover);
    transition: all 0.3s;
}
.button_order_now{
    background-color: var(--color_btn_order_now);
    display: flex;
    -webkit-transition: all 0.3s;
    justify-content: center;
    align-items: center;
    width: 340px;
    padding: 8px 5px;
    filter: drop-shadow(2px 3px 3px  rgb(41, 41, 41));
}
.button_order_now::after{
    content: '';
    -webkit-transition: all 0.3s;
    width: 0;
    height: 0;
    border-top:40px solid var(--color_btn_order_now);
    border-right:40px solid transparent;
    position: fixed;
    top: 30px;
    right: 310px;
}
.button_order_now:hover{
    transition: all 0.3s;
    background-color: var(--color_btn_oder_now_hover);
}
.button_order_now:hover::after{
    content: '';
    transition: all 0.3s;
    border-top:40px solid var(--color_btn_oder_now_hover);
}
.inf{
    height: 320px;
}
main .bg_main_1{
    padding: 30px;
    background-color: var(--color_main_1);
    background-image: url(../images/Svg/Bg2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
main .bg_main_2{
    padding: 30px;
    background-color: var(--color_btn_read_more);
    background-image: url(../images/Svg/Bg2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.roll{
    position: relative;
    background-color: white;
    width: 30px;
    height: 30px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.inf_2{
    height: 130px;
}
.inf_2 hr{
    border: 1px solid white;
}
.cards_2{
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.end{
    display: flex;
    flex-direction: column;
    align-items:end;
}
.cards_2 select{
    width: 350px;
    height: 40px;
    background-color: var(--color_btn_read_more_hover);
}
.cards_2 span{
    width: 80%;
    padding-bottom: 10px;
}
