@media screen and (min-width:1200px) and (max-width:1400px) {
    .smh_3{
        background-position-x:700px ;
    }
    .cards::after{
        content: '';
        -webkit-transition: all 0.3s;
        width: 0;
        height: 0;
        border-top:40px solid white;
        border-right:40px solid transparent;
        position: absolute;
        top: 726px;
        right: 251px;
        opacity: 0;
    }
    .inf{
        height: 400px;
    }
    .smh_3::after{
        content: '';
        width: 0;
        height: 0;
        border-top:40px solid var(--color_btn_send_messege_hover);
        border-right:40px solid transparent;
        position: relative;
        top: 25px;
        right: 1140px;
    }
    .smh_2::after{
        content: '';
        width: 0;
        height: 0;
        border-top:40px solid var(--color_btn_send_messege_hover);
        border-right:40px solid transparent;
        position: relative;
        top: 25px;
        right: 1100px;
    }
    .login::after{
        content:'';
        display: inline-block;
        background-image: url(../../images/Svg/Login.svg);
        background-repeat: no-repeat;
        width: 55px;
        height: 28px;
    }
    .live_chat::after{
        content:'';
        display: inline-block;
        background-image: url(../../images/Svg/Chat.svg);
        background-repeat: no-repeat;
        width: 55px;
        height: 28px;
    }
    .login:hover::after{
            background-image: url(../../images/Svg/Login2.svg);
    }
    .live_chat:hover::after{
            background-image: url(../../images/Svg/Chat2.svg);
    }
    .login:hover{
        color: var(--color_main_1)
    }
    .live_chat:hover{
        color: var(--color_main_1)
    }
}