footer .bg_main_2{
    padding: 30px 0;
    background-color: var(--color_main_2);
    background-image: url(../../images/Svg/Bg1.svg);
    background-size: 100%;
    background-repeat: repeat;
}
footer .bg_main_5{
    padding: 10px 0px;
    background-color: var(--color_btn_read_more_hover);
}
footer .text{
    color: var(--color_btn_read_more_hover);
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links img{
    height: 40px;
}
.l-1{
    -webkit-transition: all 0.3s;
    height: 40px;
    width: 60px;
    background-image: url(../../images/Svg/Twiter.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.l-2{
    -webkit-transition: all 0.3s;
    height: 40px;
    width: 60px;
    background-image: url(../../images/Svg/Pinterest.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.l-3{
    -webkit-transition: all 0.3s;
    height: 40px;
    width: 60px;
    background-image: url(../../images/Svg/Facebook.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.l-1:hover{
    transition: all 0.3s;
    background-image: url(../../images/Svg/Twiter2.svg);
}
.l-2:hover{
    transition: all 0.3s;
    background-image: url(../../images/Svg/Pinterest2.svg);
}
.l-3:hover{
    transition: all 0.3s;
    background-image: url(../../images/Svg/Facebook2.svg);
}
.nav{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul{
    margin: 0px;
    padding: 0px;
}
footer ul li{
    list-style: none;
    display: inline;
}
footer ul li a{
    text-transform: uppercase;
    padding: 3px 5px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: Roboto_Regular;
    color: var(--color_btn_send_messege_hover);
    text-decoration: none;
    position: relative;
  }
.border_li::after{
    content: '';
    border: 1px solid #fff;
    border-radius: 2px;
    position: relative;
    left: 2px;
    z-index: 0
}  
footer ul li a:hover{
    background-color: var(--color_btn_send_messege_hover);
    color: var(--color_btn_read_more);
    box-shadow: -5px 0px 0px rgb(202, 221, 234), 5px 0px 0px rgb(202, 221, 234, .99);
    z-index: 1;
}
footer hr{
    border: 1px solid var(--color_btn_read_more_hover);
    margin: 20px 0;
}
.col-2 a:hover{
    color: var(--color_btn_read_more);
}
footer span{
    font-size: 16px;
    color: var(--color_btn_read_more_hover);
}
